PIAIC BATCH 3, BAHRIA UNIVERSITY, ISLAMABAD
TIMINGS: 09:00 - 12:00
NAME: AAMIR JAN KHAN
ROLL NUMBER: PIAIC60191

# ASSIGNMENT NUMBER 2
## dir(str) methods usage

In [6]:
name1="aamir jan khan"
name2="Aamir Jan Khan"
name3="AAmir jaN khAn"
roll_no="PIAIC60191"

In [7]:
#printing the ids
print(id(name1))
print(id(name2))
print(id(name3))
print(id(roll_no))

1656419824752
1656419824432
1656419826544
1656419804592

In [8]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [9]:
#hence we can see that name1 was in lower case, and after using .capatalized() function following output was generated
name1.capitalize()

'Aamir jan khan'

In [11]:
#using .casefold() method it returns a caseless version of the string variable for comparison purposes
print(name1.casefold())
print(name2.casefold())

aamir jan khan
aamir jan khan

In [18]:
#the .center() command takes two arguments width and a character, the results are shown in the following
print(len(name1))
print(name1.center(20,"a"))
len(name1.center(20,"a"))

14
aaaaamir jan khanaaa

20

In [19]:
'''.count() count the frequency of a character or a substring in a string variable, we can also specify 
the index after which the counting proces may be started...
'''
name1.count("a")

4

In [29]:
'''using the .encode() method we can specify the encoding like utf-8 format or the ascii format
'''
print(name1.encode(encoding="ascii"))
name1.encode(encoding="utf-8")

b'aamir jan khan'

b'aamir jan khan'

In [34]:
# returns true or false if the ending character or substring is appropriate
print(name1.endswith("khan"))
name1.endswith("a")

True

False

In [51]:
#no arguments are passed then default tab size is 8
name1="aamir\tjan\tkhan"
name1.expandtabs()

'aamir   jan     khan'

In [2]:
name1="Aamir Jan Khan"
name1.find("Jan")
#return the index of the starting position of the substring

6

In [5]:
name1="Aamir Jan Khan {}".format("SP17-BSI-017")
print(name1)

Aamir Jan Khan SP17-BSI-017

In [7]:
name={"first":"Aamir","middle":"Jan","last":"Khan"}
print("{first} {last}".format_map(name))
#takes a single argument and returns the specified keys

Aamir Khan

In [8]:
#returns the index of the specified substring
name1="Aamir Jan Khan"
name1.index("Jan")

6

In [22]:
#all is function return a bool value of either true or false 
name1="Aamir Jan Khan"
rollno="SP17-BSI-017"
name="65D"
floaat="3.142"
name2="aamir a\n"
print(rollno.isalnum())
print(name1.isalpha())
print(name.isascii())
print(floaat.isdecimal())
print(name.isdigit())
print(name2.isidentifier())
print(name2.islower())
print(name2.isnumeric())
print(name2.isprintable())
print(name1.isspace())
print(name1.istitle())
print(name1.isupper())

False
False
True
False
False
False
True
False
False
False
True
False

In [23]:
name1=["Aamir","Jan"]
"".join(name1)

'AamirJan'

In [27]:
name="         Aamir Jan Khan        "
name.lower()

'         aamir jan khan        '

In [26]:
name.upper()

'AAMIR JAN KHAN'

In [28]:
name.rstrip()

'         Aamir Jan Khan'

In [29]:
name.lstrip()

'Aamir Jan Khan        '

In [30]:
name.strip()

'Aamir Jan Khan'

In [34]:
name="Aamir Jan Khan"
name.split(" ")

['Aamir', 'Jan', 'Khan']

In [39]:
name.splitlines()

['Aamir Jan Khan']

In [40]:
name.startswith("A")

True

In [41]:
name.swapcase()

'aAMIR jAN kHAN'

In [48]:
name.ljust(20,"_")

'Aamir Jan Khan______'

In [50]:
name.rjust(20,"-")

'------Aamir Jan Khan'

In [51]:
name.rfind("m")

2

In [52]:
name.rindex("i")

3

In [54]:
name.rpartition("r")

('Aami', 'r', ' Jan Khan')

In [64]:
name="aamir jan khan"
namee={1:"aamir",2:"jan",3:"khan"}
name.maketrans(namee)

{1: 'aamir', 2: 'jan', 3: 'khan'}

In [65]:
name.replace("jan","khan")

'aamir khan khan'

In [68]:
# first string
firstString = "abc"
secondString = "ghi"
thirdString = "ab"

string = "abcdef"
print("Original string:", string)

translation = string.maketrans(firstString, secondString, thirdString)
print(translation)
# translate string
print("Translated string:", string.translate(translation))

Original string: abcdef
{97: None, 98: None, 99: 105}
Translated string: idef

In [71]:
txt = "50"
x = txt.zfill(5)
print(x)

00050